div{
    background-color: antiquewhite;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.navbar{
    background-color: burlywood;
    position:absolute;
    height:8%;
    width:96%;
    right:2%;
    top:2%;  
}

